<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <style>
        .main{
            
            padding-top: 70px;
        }
    </style>
    @RenderSection("styles", false)
</head>
<body>
    <nav class="navbar navbar-dark bg-dark  fixed-top  navbar-expand-md shadow-sm">
        <div class="container-fluid">
            <span class="navbar-brand">Employee<sup>BD-</sup></span>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Employees", "Index", "Employees", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Departments", "Index", "Departments", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Grades", "Index", "Grades", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Designations", "Index", "Designations", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("MasterEmployee", "Index", "MasterEmployee", new { }, new { @class = "nav-link" })
                    </li>
                </ul>
                 @if (Request.IsAuthenticated)
                {
                    <ul class="navbar-nav nav ms-auto">

                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Account", new { }, new { @class = "nav-link" })
                        </li>


                    </ul>

                }
                else
                {
                    <ul class="navbar-nav nav ms-auto">
                        <li class="nav-item">
                            @Html.ActionLink("Register", "Register", "Account", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Login", "Login", "Account", new { }, new { @class = "nav-link" })
                        </li>


                    </ul>
                }
            </div>
        </div>
    </nav> 
    <section class="container-fluid main">
        @RenderBody()
    </section> 
    <footer class="container-fluid">
        &copy; Anika Arabi
    </footer>
    @RenderSection("scripts", false)
</body>
</html>